p,h1,a,h3,h2{
font-family: Helvetica;
}
body{
 width: 100vw ;
 height: 100vh;
 margin: 0px;
}
#logo {
 width: 150px;
 margin-top: 3px;
}
a {
 color: black;
 text-decoration: none;
 transition: color 0.3s;
 font-size: 15px;
 -webkit-transition: color 0.3s;
 -moz-transition: color 0.3s;
 -ms-transition: color 0.3s;
 -o-transition: color 0.3s;
}
nav a{
 margin-right: 10px;
 align-items: flex-end;
}
header{
 margin: 5px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
span:hover {
 color: yellowgreen; 
}

.background{
 display: flex;
 align-items: center;
 justify-content: center;
background-image: url(img/landing.jpg);
background-size: cover;
background-position: center;
height: 75vh;
}
.container-1{
display: flex;
flex-direction: column;
text-align: center;
color: aliceblue;
}
.text-1,.text-2{
 margin: 5px;
}

.container-2{
 display: flex;
 flex-direction: column;
 text-align: center;
}
.text-3{
 text-decoration: underline yellowgreen 3px;
 text-underline-offset: 8px;
 font-size: 20px;
}
.container-3 {
 display: flex;
 align-items: center;
}

.music, .quality, .devices {
 display: flex;
 flex-direction: column;
 align-items: center;
 flex: 8;
}
#icon {
 margin: 15px;
 width: 33vh;
}

.green-text{
 color: yellowgreen;
 display: flex;
}
.grey-text{
 color: silver;
 font-size: smaller;
 width: 50%;
}
h2{
 text-decoration: underline;
 text-underline-offset: 8px;
}
.container-4{
 color: aliceblue;
 display: flex;
 justify-content: center;
 align-items: flex-start;
}
.background-2{
display: flex;
background-position: center;
background-color: yellowgreen;
height: 85vh;
width: 203vh;
margin: 25px;
}

.text-4 {
  display: inline-block; 
  text-align: left; 
  width: 33vw; 
  vertical-align: top; 
  margin: 0 10px; 
}

#white-icon {
  display: block; 
  align-items: center;
  margin: 200px;
  width: 100px;
  height: 100px;
}

#snapshot {
  display: block;
  margin: 20px auto; 
}

@media (width < 320px){
  
}
@media (320px <= width < 768px) {
 .music, .quality, .devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
 }
 #icon {
  margin: 13%;
  width: 33vw;
 }

 .green-text{
  color: yellowgreen;
  display: flex;
 }
 .grey-text{
  color: silver;
  font-size: smaller;
  width: 50%;
 }
 .container-4{
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
 }
 .background-2{
 display: flex;
 background-position: center;
 background-color: yellowgreen;
 height: 85vw;
 width: 105vw;
 margin: 10px;
 }
 .text-4 {
  display: inline-block; 
  text-align: left; 
  width: 100vw; 
  vertical-align: top; 
  margin: 0 10px; 
}

#white-icon {
  display: block; 
  align-items: center;
  margin: 200px;
  width: 33vw;
  height: 100px;
}

#snapshot {
  display: block;
  margin: 10px; 
}

}

@media(width >= 768px){

}